body
{
	margin: 0;
	padding: 0;
	font: normal 10pt Arial,Helvetica,sans-serif;
    background: #000 url(/images/low_contrast_linen.png);
    overflow : hidden;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	/*border: 1px solid #808080; */
}

#logo {
    color: white;
    text-shadow: 0px 0px 3px white;
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin-top: 20px;
}

#content
{
    padding: 10px;
}

#footer {
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 4px#000;
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
}
.headText {
    font-family: Droid Serif;
    color: white !important;
    margin: 15px 0;
    text-shadow: 0 2px 0 #352F2A;
    font-size: 26px;
}

.button {
    padding: 10px 20px;
    border-radius: 8px;
    background-image: -moz-radial-gradient(center top , ellipse farthest-corner, #7C7264 0%, #514A40 100%), url(images/noise.png);
    background-image: -webkit-radial-gradient(center top , ellipse farthest-corner, #7C7264 0%, #514A40 100%), url(images/noise.png);
    font-size: 2em;
    border: 1px solid #7C7264;
    box-shadow: 0 5px 0 #352F2A, 0 5px 0.5em rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
}

#filters img {
    margin: 10px;
    box-shadow: 0 0 1em #352F2A;
    opacity: 0.8;
}
#filters img:hover{cursor:pointer;}

.upload{
    color: white;
    font-weight: bold;
    border-radius: 8px;
    width: 80px;
}
#last_upload {
    font-family: Droid Serif;
    color: white !important;
    margin-top: 15px;
    text-shadow: 0 2px 0 #352F2A;
    font-size: 26px;
    border-bottom: 1px solid gray;
    padding-bottom: 6px;
}
.last_ul {

}
.last_ul li {
    list-style: none;
    display: inline-block;
    margin-right: 14px;
}
.last_ul li img {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
#userZone {
    padding: 10px;
    border-bottom: 1px solid gray;
}
#userZone img {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
#fbImg  {
    display: inline-block;
}
#fbnickname,#userMenu {
    display: inline-block;
    color: white;
}

#facebook-login-btb {
    margin-top: 20;
    font-size: 14px;
    text-align: center;

}

#facebook-login-btb span{
    font-weight:bold;
}

#facebook-login-btb a {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background: -webkit-linear-gradient(top, rgba(131, 155, 195, 1) 0%,rgba(87, 111, 163, 1) 100%);
    border: 1px solid #566383;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 #CADBFE inset, 0 3px 0 0 #2D447F, 0 4px 2px #999;
    color: white;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    top: -1px;
    -webkit-transition-property: top, box-shadow;
    -webkit-transition-duration: 0.1s, 0.1s;
    -webkit-transition-timing-function: linear, linear;
}

#facebook-login-btb a:hover {
    background-image:linear-gradient(top,  rgba(139,161,199,1) 0%,rgba(96,119,170,1) 100%);
}

#facebook-login-btb a:active
{
    box-shadow: 0 1px 0 #cadbfe inset, 0 1px 0 0 #2d447f, 0 2px 2px #999999;
    top:2px;
}

#lightbox {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0px;
    padding-top: 25%;

}
.circle {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,183,229,0.9);
    opacity:.9;
    border-right:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 35px #2187e7;
    width:50px;
    height:50px;
    margin:0 auto;
    -moz-animation:spinPulse 1s infinite ease-in-out;
    -webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,183,229,0.9);
    opacity:.9;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 15px #2187e7;
    width:30px;
    height:30px;
    margin:0 auto;
    position:relative;
    top:-50px;
    -moz-animation:spinoffPulse 1s infinite linear;
    -webkit-animation:spinoffPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}